<div class="jumbotron">
  <h1>Order Me</h1>
  <p class="lead">
    A prototype food ordering app using 
    <a target="_blank" href="http://angularjs.org">AngularJS</a>.
  </p>
  <p>
    <div class="btn-group">
      <a class="btn btn-lg btn-default" ng-href="#restaurants">
        <span class="glyphicon glyphicon-cutlery"></span>
      </a>
      <a class="btn btn-lg btn-default" ng-href="#orders">
        <span class="glyphicon glyphicon-shopping-cart"></span>
      </a>
    </div>
  </p>
</div>

<div class="row marketing">
  <h2>Made Possible with</h2>

  <h4>
    <a target="_blank" href="http://getbootstrap.com">Twitter Bootstrap</a>
  </h4>
  <p>
    Sleek, intuitive, and powerful mobile first front-end framework for faster and easier web development.
  </p>

  <h4>
    <a target="_blank" href="http://angularjs.org">AngularJS</a>
  </h4>
  <p>
    AngularJS is a toolset for building the framework most suited to your application development.
  </p>

  <h4>
    <a target="_blank" href="http://yeoman.io">Yoeman</a> (<a target="_blank" href="https://github.com/yeoman/yo">Yo</a>, <a target="_blank" href="http://gruntjs.com/">Grunt</a> & <a target="_blank" href="http://bower.io/">Bower</a>)</h4>
  <p>It's a workflow; a collection of tools and best practices working in harmony to make developing for the web even better.</p>
</div>
